RewriteEngine on
ErrorDocument 404 http://localhost/myframework/
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 

RewriteRule ^([0-9a-z]+)$ index.php?page=$1 [QSA,L]
RewriteRule ^([0-9a-z]+)/([0-9a-z]+)$ index.php?page=$1&method=$2 [QSA,L]
RewriteRule ^([0-9a-z]+)/([0-9a-z]+)/([0-9a-z]+)$ index.php?page=$1&method=$2&$id=$3 [QSA,L]


